#card{
    border-color: #5a57ff; border-radius: 20px;
    box-shadow: 0 10px 15px #ccccff;
}

.container{
    display: flexbox;
    align-items: center;
    margin-top: 14vh;
    margin-bottom: 14vh;
}
 #cadastre-se{
    color: #5a57ff;
 }