<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Pedido</title>
</head>
<body>
    <h1>Realizar Pedido</h1>
    <div id="mainBody" class="container">
        <div class="row">
            <div id="categoria-container" class="col mx-3">
                <div class="col">
                    <app-categoria (addClick)="addItem($event)" categoria="Blusas" [items]="lista_de_items"></app-categoria>
                </div>
                <div class="col">
                    <app-categoria (addClick)="addItem($event)" categoria="Calças" [items]="lista_de_items"></app-categoria>
                </div>
                <div class="col">
                    <app-categoria (addClick)="addItem($event)" categoria="Camisas" [items]="lista_de_items"></app-categoria>
                </div>
                <div class="col">
                    <app-categoria (addClick)="addItem($event)" categoria="Casacos" [items]="lista_de_items"></app-categoria>
                </div>
            </div>
            <div id="carrinho-container" class="col mx-3">
                <div id="carrinho" class="row">
                    <div id="titulo">Seu carrinho:</div>
                    <div id="total">R${{total}}</div>
                    <table id="itemTable" class="table">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>QT</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of carrinho;let i = index">
                                <td>{{item.tipo}}</td>
                                <td>
                                    <button (click)="changeItemValue(i,'down')" class="btn btn-primary">&#8722;</button>
                                    {{item.qt}}
                                    <button (click)="changeItemValue(i,'up')" class="btn btn-primary">&#43;</button>
                                </td>
                                <td>{{item.subtotal}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col">
                    <div class="row w-25 m-3">
                        <button (click)="limparItens()" class="btn btn-danger">Limpar</button>
                    </div>
                    <div class="row w-25 m-3">
                        <button class="btn btn-primary">Continuar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
