<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOL</title>
</head>

<body>
    <nav *ngIf="loginService.usuarioLogado()" class="navbar navbar-expand-md n mb-3"
        style="border-bottom: 1px; box-shadow: 0 0 10px 1px #5a57ff;">

        <a class="navbar-brand" href="#" routerLink="/home"><img src="../assets/logoLol.png" width="100" alt="Logo"
                style="margin-right: 7px; padding-left: 20px;"></a>

        <div class="navbar-collapse collapsed justify-content-between" id="navbarContent">
            <ul class="navbar-nav ml-auto">
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/home">Página Inicial</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" routerLink="/autocadastro">Cadastro</a>
                </li>
                -->
                <li *ngIf="user == null ">
                    <a class="nav-link" href="#">Entrar</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='funcionario'" ng-bind="user" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/home-funcionario">Página Inicial</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='cliente'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/consulta-pedido">Consultar Pedidos</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='cliente'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/realizar-pedido">Realizar Pedido</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='cliente'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/orcamento">Orçamentos</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='cliente'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/seus-pedidos">Seus Pedidos</a>
                </li>
                <!--
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/pagamento">Pagamento</a>
                    </li>
                -->
                <li *ngIf="user?.perfil==='admin' || user?.perfil==='funcionario'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/visualizacao">Visualização de Pedidos</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='funcionario'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/roupas">Roupas</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='funcionario'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/funcionario">Lista de Funcionarios</a>
                </li>

                <li *ngIf="user?.perfil==='admin' || user?.perfil==='funcionario'" class="nav-item">
                    <a class="nav-link" href="#" routerLink="/relatorios">Relatórios</a>
                </li>
                <!--
                    <li *ngIf="user?.perfil==='admin' || user?.perfil==='funcionario'" class="nav-item">
                        <a class="nav-link" href="/api/index">Api</a>
                    </li>
                -->
            </ul>
            <ul *ngIf="loginService.getUsuario()" class="navbar-nav ml-auto px-2 mx-2">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="logout()">Logout</a>
                </li>
                <li class="nav-item">
                    <p class="navbar-text mb-0 px-2 mx-2" style="color: #5a57ff;">
                        <i class="fa fa-user"> </i> {{ user?.nome| uppercase}}
                    </p>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</body>
<script>

</script>

</html>