<div class="conteiner-fluid">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand nav-link" href="#" routerLink="/pessoas">
      <i class="fa fa-user-edit"></i> {{ title }} </a>
    <div *ngIf="usuarioLogado" class="navbar-collapse collapsed justify-content-between" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='FUNCIONARIO'"
          class="nav-item">
          <a class="nav-link" href="#" routerLink="/pessoas">Cadastros</a>
        </li>
        <li *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='FUNCIONARIO'" class="nav-item">
          <a class="nav-link" href="#" routerLink="/enderecos">Pedidos</a>
        </li>
        <li *ngIf="usuarioLogado.perfil==='ADMIN'" class="nav-item">
          <a class="nav-link" href="#" routerLink="/cidades">Roupas</a>
        </li>
        <li *ngIf="usuarioLogado.perfil==='ADMIN'" class="nav-item">
          <a class="nav-link" href="#" routerLink="/estados">Relatorios</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
            Opções </a>
          <div
            *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='FUNCIONARIO'"
            ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <a *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE' || usuarioLogado.perfil==='FUNCIONARIO'"
              ngbDropdownItem href="#" routerLink="/pessoas" (click)="$event.preventDefault()">Cadastros</a>
            <a *ngIf="usuarioLogado.perfil==='ADMIN' || usuarioLogado.perfil==='GERENTE'" ngbDropdownItem href="#"
              routerLink="/enderecos" (click)="$event.preventDefault()">Pedidos</a>
            <a *ngIf="usuarioLogado.perfil==='ADMIN'" ngbDropdownItem href="#" routerLink="/cidades"
              (click)="$event.preventDefault()">Roupas</a>
            <a *ngIf="usuarioLogado.perfil==='ADMIN'" ngbDropdownItem href="#"
              routerLink="/estados" (click)="$event.preventDefault()">Relatorios</a>
          </div>
        </li>
      </ul>
      <ul *ngIf="usuarioLogado" class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
        <li class="nav-item">
          <p class="navbar-text mb-0 text-white">
            <i class="fa fa-user"></i> {{ usuarioLogado.nome | uppercase}}
          </p>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>