body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#containerPagina {
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#pedido-container {
    border: 1px solid black;
    width: 500px;
    margin-left: 50px;
    padding: 15px;
    font-size: 14px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#pedido-container #titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

#formPagamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 20px;
}

#formPagamento button {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #757575;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#formPagamento button:hover {
    background-color: #0056b3;
}

#voltarButton {
    margin-left: 0px;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

#voltarButton:hover {
    background-color: #999;
}

#formPagamento div {
    display: flex;
    flex-direction: column;
}

#formPagamento div label {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

#tabela {
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

#tabela th,
#tabela td {
    padding: 8px;
    text-align: left;
}

#tabela th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabela tr:hover {
    background-color: #ddd;
}
