<html> 
    <head>
    </head> 
    <body>
        <p id="titulo">Orçamentos<p>

        <table id="tabela">
                <tr>
                    <th>ID </th>
                    <th>Valor</th>
                    <th>Prazo</th>
                    <th>Estado</th>
                    <th>Ação</th>
                </tr>
                <tr>
                    <td>001</td>
                    <td>R$22,99</td>
                    <td>14/08/2023</td>
                    <td>Pendente</td>
                    <td>
                        <button class="conf">V</button>
                        <button class="neg">X</button>
                    </td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>R$11,31</td>
                    <td>14/08/2023</td>
                    <td>Pendente</td>
                    <td>
                        <button class="conf">V</button>
                        <button class="neg">X</button>
                    </td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>R$444,31</td>
                    <td>14/08/2023</td>
                    <td>Pendente</td>
                    <td>
                        <button class="conf">V</button>
                        <button class="neg">X</button>
                    </td>
                </tr>

        </table>
</body>
</html>