body {
	font-family: helvetica;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20px;
}
.pesquisar {
	width: 150px;
	border-radius: 5px;
}

.btn {
	background:#3498db ; /* fallback for old browsers */
}

#titulo{
	font-size: 40px;
}

#tabela{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;

	border: 1px solid black;
}

td{
	text-align: center;
}
button{
    color:white;
    
}
.conf{
    background-color: green;
}

.neg{
    background-color: red;
}