<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Detalhes do Pedido</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Número do Pedido:</strong> {{pedido.numero}}</p>
                    <p><strong>Data do Pedido:</strong> {{pedido.data! | format}}</p>
                    <p><strong>Prazo de Entrega:</strong> {{pedido.prazo! | format}}</p>
                    <p><strong>Valor Total:</strong>R$ {{pedido.total}}</p>
                    <p><strong>Situação do Pedido:</strong> {{pedido.status}}</p>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="itensDropdown">Itens do Pedido:</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="itensDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Selecione uma roupa
                            </button>
                            <div class="dropdown-menu" aria-labelledby="itensDropdown">
                                <a *ngFor="let roupa of pedido.roupas" class="dropdown-item">{{ roupa }}</a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="pagar(pedido)">Pagar</button>
                    <a class='btn btn-dark' [routerLink]="['/seus-pedidos']">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>