<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Detalhes do Pedido</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Número do Pedido:</strong> {{pedido.numero}}</p>
                    <p><strong>Data do Pedido:</strong> {{pedido.data! | format}}</p>
                    <p><strong>Prazo de Entrega:</strong> {{pedido.prazo! | format}}</p>
                    <p><strong>Valor Total:</strong>R$ {{pedido.total}}</p>
                    <p><strong>Situação do Pedido:</strong> {{pedido.status}}</p>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="itensDropdown">Itens do Pedido:</label>
                        <div class="d-flex flex-wrap">
                            <div class="m-1">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nome</th>
                                            <th></th>
                                            <th>Qtd.</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let roupa of roupas">
                                            <td>{{ roupa.descricao }}</td>
                                            <td>x</td>
                                            <td>{{ roupa.quantidade }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" (click)="pagar(pedido)">Pagar</button>
            </div>
        </div>
    </div>
    <a class='btn btn-dark' [routerLink]="['/seus-pedidos']">Voltar</a>
</div>