#containerPagina {
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#pedido-container {
    border: 1px solid black;
    width: 400px;
    margin-right: 50px;
    padding: 10px;
}

#pedido-container #titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#formPagamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 100px;
}

#formPagamento button {
    margin-top: 10px;
}

#voltarButton {
    margin-left: 20px;
}

#formPagamento div input,
#formPagamento div label {
    display: block;
}

#tabela tr th,
#tabela tr td {
    padding-left: 10px;
}