<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listagem de Pedidos</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col mb-3">
                <h1 id="titulo">Seus Pedidos</h1>
            </div>
        </div>
        <div class="row">
            <h4 class="col-sm-1">Filtrar: </h4>
            <div class="col-sm-3 mb-3">
                <select class="form-select filtro" (change)="mudarEstadoPedido($event)">
                    <option disabled selected>Estado do pedido</option>
                    <option>Aguardando Pagamento</option>
                    <option>Finalizado</option>
                    <option>Em Aberto</option>
                    <option>Recolhido</option>
                    <option>Pago</option>
                    <option>Pendente</option>
                    <option>Cancelado</option>
                    <option>Todos</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Nº Pedido</th>
                            <th>Valor</th>
                            <th>Data</th>
                            <th>Prazo</th>
                            <th>Status</th>
                            <th>Pagar</th>
                            <th>Cancelar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let pedido of dados">
                            <tr class="fadeIn" *ngIf="filtrarEstadoPedido(pedido.status)" [id]="pedido.pedido">
                                <td>{{pedido.pedido}}</td>
                                <td>R$ {{pedido.valor.toFixed(2).replace('.',',')}}</td>
                                <td>{{pedido.data}}</td>
                                <td>{{pedido.prazo}}</td>
                                <td class="td-button" [ngSwitch]="pedido.status">
                                <!-- <td class="td-button"> -->
                                    <button *ngSwitchCase="'EM ABERTO'"
                                        class="btn btn-aberto" data-bs-toggle="modal" data-bs-target="#modal-pedido">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'RECOLHIDO'"
                                        class="btn btn-recolhido" data-bs-toggle="modal" data-bs-target="#modal-pedido">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'AGUARDANDO PAGAMENTO'"
                                        class="btn btn-aguardando" data-bs-toggle="modal" data-bs-target="#modal-pedido">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'PAGO'" class="btn btn-pago" data-bs-toggle="modal" data-bs-target="#modal-pedido">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'CANCELADO'"
                                        class="btn btn-cancelado" data-bs-toggle="modal" data-bs-target="#modal-pedido">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'FINALIZADO'"
                                        class="btn btn-finalizado" data-bs-toggle="modal" data-bs-target="#modal-pedido">{{pedido.status}}</button>
                                </td>
                                
                                <td class="td-button">
                                    <button *ngIf="pedido.status != 'AGUARDANDO PAGAMENTO'"
                                    class="btn disabled">Pagar</button>
                                    <button *ngIf="pedido.status == 'AGUARDANDO PAGAMENTO'"
                                        class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#modal-pagar">Pagar</button>
                                    <div class="modal fade" id="modal-pagar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Pagar</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <p>Pedido: {{pedido.pedido}}</p>
                                            <p>Valor do pedido: R$ {{pedido.valor}},00</p>
                                            <p>Data do pedido: {{pedido.data}}</p>
                                            <p>Prazo do pedido: {{pedido.prazo}}</p>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                            <button type="button" class="btn btn-success">Confirmar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="td-button">
                                    <button *ngIf="pedido.status != 'EM ABERTO'" class="btn disabled">Cancelar</button>
                                    <button *ngIf="pedido.status == 'EM ABERTO'"
                                        class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-cancelar">Cancelar</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="modal-cancelar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Deseja mesmo cancelar?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <p>Após cancelar, não há como voltar.</p>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                            <button type="button" class="btn btn-danger">Confirmar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="modal-pedido" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Informações do pedido</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <p>Pedido: {{pedido.pedido}}</p>
                                            <p>Valor do pedido: R$ {{pedido.valor}},00</p>
                                            <p>Data do pedido: {{pedido.data}}</p>
                                            <p>Prazo do pedido: {{pedido.prazo}}</p>
                                            <p>Status do pedido: {{pedido.status}}</p>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                                            <button type="button" class="btn btn-success">Confirmar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>