<head>
    <link rel="stylesheet" type="text/css" href="inserir-endereco.component.css">
</head>

<h1>Novo Pedido</h1>
<div class="well">
    <form #formEndereco="ngForm">

        <div class="form-group">
            <label for="cep">CEP:</label>
            <input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="endereco.cep" #cep="ngModel"
                numerico minlength="8" maxlength="8" required>
            <div *ngIf="cep.errors && (cep.dirty || cep.touched)" class="alert alert-danger">
                <div [hidden]="!cep.errors['required']">
                    Digite o cep.
                </div>
                <div [hidden]="!cep.errors['minlength']">
                    O cep deve conter 8 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="nome">Logradouro:</label>
            <input type="text" class="form-control" id="logradouro" name="logradouro" [(ngModel)]="endereco.logradouro"
                #logradouro="ngModel" alfabeticoPTBR minlength="2" required>
            <div *ngIf="logradouro.errors && (logradouro.dirty || logradouro.touched)" class="alert alert-danger">
                <div [hidden]="!logradouro.errors['required']">
                    Digite o logradouro.
                </div>
                <div [hidden]="!logradouro.errors['minlength']">
                    O logradouro deve conter ao menos 2 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="logNumero">Número:</label>
            <input type="text" class="form-control" id="logNumero" name="logNumero" [(ngModel)]="endereco.logNumero"
                #logNumero="ngModel" meuNumerico minimoValidatorParametro [valorMinimo]="'1'" required>
            <div *ngIf="logNumero.errors && (logNumero.dirty || logNumero.touched)" class="alert alert-danger">
                <div [hidden]="!logNumero.errors['required']">
                    Digite o numero do endereco.
                </div>
                <div [hidden]="!logNumero.errors['minimo']">
                    O numero deve ser maior que 0.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="complemento">Complemento:</label>
            <input type="text" class="form-control" id="complemento" name="complemento"
                [(ngModel)]="endereco.complemento" #complemento="ngModel">
        </div>

        <div class="form-group">
            <label for="cidade">Cidade:</label>
            <input type="text" class="form-control" id="cidade" name="cidade" [(ngModel)]="endereco.cidade"
                #cidade="ngModel" alfabeticoPTBR minlength="2" required>
            <div *ngIf="cidade.errors && (cidade.dirty || cidade.touched)" class="alert alert-danger">
                <div [hidden]="!cidade.errors['required']">
                    Digite a cidade.
                </div>
                <div [hidden]="!cidade.errors['minlength']">
                    A cidade deve conter ao menos 2 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="estado">Estado:</label>
            <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="endereco.estado"
                #estado="ngModel" alfabeticoPTBR minlength="2" required>
            <div *ngIf="estado.errors && (estado.dirty || estado.touched)" class="alert alert-danger">
                <div [hidden]="!estado.errors['required']">
                    Digite o estado.
                </div>
                <div [hidden]="!estado.errors['minlength']">
                    O estado deve conter ao menos 2 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="inserirEnderecoComponent()"
                [disabled]="!formEndereco.form.valid">
                <i class="fa fa-save" aria-hidden="true"></i> Salvar
            </button>
            <a class="btn btn-secondary" [routerLink]="['/enderecos']">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
            </a>
        </div>
    </form>
</div>