<div class="container">
  <h1>Nova Roupa</h1>
  <div class="well">
    <form #formRoupa="ngForm" (ngSubmit)="inserir(formRoupa)">
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" minlength="2" obrigatorio stringOnly ngModel
          #nome="ngModel" />
        <div class="alert alert-danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
          <div [hidden]="!nome.errors['obrigatorio']">Digite o nome da roupa.</div>
          <div [hidden]="!nome.errors['minlength']">
            O nome deve conter ao menos 2 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="preco">Preço:</label>
        <input type="text" class="form-control" id="preco" name="preco" required #preco="ngModel" ngModel />
        <div class="alert alert-danger" *ngIf="preco.errors && (preco.dirty || preco.touched)">
          <div [hidden]="!preco.errors['required']">
            Digite o preco da roupa.
          </div>
        </div>
      </div>

      <div class="form-group mb-2">
        <label for="prazo">Prazo:</label>
        <input type="text" class="form-control" id="prazo" name="prazo" required ngModel #prazo="ngModel" />
        <div class="alert alert-danger" *ngIf="prazo.errors && (prazo.dirty || prazo.touched)">
          <div [hidden]="!prazo.errors['required']">
            Digite o prazo da roupa.
          </div>
        </div>
      </div>
      <div class="form-group mb-2">
        <label for=" prazo">Categoria:</label>
        <select required class="form-select  mb-4" name="categoria" #categoria [value]="categoria" ngModel>
          <option *ngFor="let categoria of categorias;" [value]="categoria.numero">{{categoria.descricao}}
          </option>
        </select>
      </div>
      <div class="form-group" style="margin-top: 5px">
        <button type="submit" class="btn btn-primary" [disabled]="!formRoupa.form.valid">
          <i class="fa fa-save" aria-hidden="true"></i> Salvar
        </button>
        <a class="btn btn-secondary" [routerLink]="['/roupas']" style="margin-left: 5px">
          <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
        </a>
      </div>
    </form>
  </div>
</div>