<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Lista de pedidos</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table fadeIn">
                    <thead>
                        <tr>
                            <th scope="col">Nº Pedido</th>
                            <th scope="col">Total</th>
                            <th scope="col">Data</th>
                            <th scope="col">Prazo</th>
                            <th scope="col">Status</th>
                            <th scope="col">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pedido of pedidos">
                            <!--
                            <th scope="row">000001</th>
                            <td>R$ 60,00</td>
                            <td>11/08/2023</td>
                            <td>17/08/2023</td>
                            <td class="btn btn-aberto">Em aberto</td>
                            <td><button class="btn btn-danger">Cancelar</button></td>
                            -->
                            <td>{{pedido.numero}}</td>
                            <td>{{pedido.total}}</td>
                            <td>{{pedido.data! | format}}</td>
                            <td>{{pedido.prazo! | format}}</td>
                            <td>{{pedido.status}}</td>
                            <td><button (click)="alterarStatus(pedido)" class="btn btn-danger">Cancelar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <p *ngIf="pedidos.length! == 0">Não foram encontrados pedidos em aberto</p>
    </div>
</body>

</html>