@import "/src/styles.css";

h1 {
    color: #5a57ff;
    margin-top: 10px;
}

.fadeIn {
    animation: fadeIn 0.7s linear 0s;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1;
    }
}