input[type="date"] {
    background-color: #8bb4dd;
    padding: 7px;
    font-family: "Roboto mono", monospace;
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
}