<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listagem de Pedidos</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mb-3">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../assets/logoLol.png" alt="Logo LOL" width="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-md-1" id="sair">Sair</div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col mb-3">
                <h1 id="titulo">Visualização de Pedidos</h1>
            </div>
        </div>
        <div class="row">
            <h4 class="col-sm-1">Filtrar: </h4>
            <div class="col-sm-3 mb-3">
                <select class="form-select filtro" (change)="mudarEstadoPedido($event)">
                    <option disabled selected>Estado do pedido</option>
                    <option>Aguardando Pagamento</option>
                    <option>Finalizado</option>
                    <option>Em Aberto</option>
                    <option>Recolhido</option>
                    <option>Pago</option>
                    <option>Pendente</option>
                    <option>Cancelado</option>
                    <option>Todos</option>
                </select>
            </div>
            <div class="col-sm-2 pl-2" #checkboxDiv>
                <input [(ngModel)]="isChecked" (change)="getPedidos(isChecked)" type="checkbox" class="btn-check"
                    id="btn-check-outlined" autocomplete="off">
                <label #checkBoxLabel class="btn btn-outline-primary" for="btn-check-outlined">Pedidos de
                    Hoje</label><br>
            </div>
            <div class="col-sm-2">
                <input #dateInput1 [(ngModel)]="dataInicial" type="date" id="input1" />
            </div>

            <div class="col-sm-2">
                <input #dateInput2 [(ngModel)]="dataPrazo" type="date" id="input2" />
            </div>

            <div class="col-sm-2">
                <button type="button" (click)="getPedidos(isChecked,dataInicial,dataPrazo)"
                    class="btn btn-primary">Filtrar por Data</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table" id="table">
                    <thead>
                        <tr>
                            <th>Nº Pedido</th>
                            <th>Valor</th>
                            <th>Data</th>
                            <th>Prazo</th>
                            <th>Status</th>
                            <th>Recolher</th>
                            <th>Lavagem</th>
                            <th>Finalizar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let pedido of pedidos;">
                            <tr class="fadeIn" *ngIf="filtrarEstadoPedido(pedido.status)" [id]="pedido.numero">
                                <td>{{pedido.numero}}</td>
                                <td>R$ {{pedido.total.toFixed(2).replace('.',',')}}</td>
                                <td>{{pedido.data}}</td>
                                <td>{{pedido.prazo}}</td>
                                <td class="td-button" [ngSwitch]="pedido.status">
                                    <button *ngSwitchCase="'EM ABERTO'"
                                        class="btn btn-aberto">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'RECOLHIDO'"
                                        class="btn btn-recolhido">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'AGUARDANDO PAGAMENTO'"
                                        class="btn btn-aguardando">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'PAGO'" class="btn btn-pago">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'CANCELADO'"
                                        class="btn btn-cancelado">{{pedido.status}}</button>
                                    <button *ngSwitchCase="'FINALIZADO'"
                                        class="btn btn-finalizado">{{pedido.status}}</button>

                                </td>
                                <td class="td-button">
                                    <button *ngIf="pedido.status == 'EM ABERTO'" class="btn btn-success"
                                        (click)="changePedidoStatus($event,pedido)">Recolher</button>
                                    <button *ngIf="pedido.status != 'EM ABERTO'" class="btn disabled"
                                        (click)="changePedidoStatus($event,pedido)">Recolher</button>
                                </td>
                                <td class="td-button">
                                    <button *ngIf="pedido.status == 'RECOLHIDO'"
                                        (click)="changePedidoStatus($event,pedido)"
                                        class="btn btn-danger">Lavagem</button>
                                    <button *ngIf="pedido.status != 'RECOLHIDO'"
                                        (click)="changePedidoStatus($event,pedido)"
                                        class="btn disabled">Lavagem</button>
                                </td>
                                <td class="td-button">
                                    <button *ngIf="pedido.status == 'PAGO'" (click)="changePedidoStatus($event,pedido)"
                                        class="btn btn-info">Finalizar</button>
                                    <button *ngIf="pedido.status != 'PAGO'" (click)="changePedidoStatus($event,pedido)"
                                        class="btn disabled">Finalizar</button>
                                </td>
                            </tr>
                        </ng-container>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>