<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocadastro</title>
    <link rel="stylesheet" href="autocadastro.component.css">
</head>
<body>
    <div class="corpo-pagina">

        <div class="compartimento-ilustracao">
            <img src="./imagem-logo.png" alt="Logo lol">
        </div>

        <div class="compartimento-formulario">
            <form action="#">

                <div class="titulo-cabecalho">
                    
                    <div class="titulo">
                        <h1>Cadastro</h1>
                    </div>

                    <div class="botao-login">
                        <button><a href="#">Entrar</a></button>
                    </div>

                </div>

                <div class="grupo-dados-essenciais">

                    <div class="atributo-entrada">
                        <label for="primeironome">Nome</label>
                        <input type="text" name="primeironome" id="primeironome" placeholder="Digite seu nome" required>
                    </div>
                    
                    <div class="atributo-entrada">
                        <label for="sobrenome">Sobrenome</label>
                        <input type="text" name="sobrenome" id="sobrenome" placeholder="Digite seu sobrenome" required>
                    </div>

                    <div class="atributo-entrada">
                        <label for="cpf">CPF</label>
                        <input type="text" name="cpf" id="cpf" placeholder="000.000.000-00" required>
                    </div>

                    <div class="atributo-entrada">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="atributo-entrada">
                        <label for="contato">Contato</label>
                        <input type="tel" name="contato" id="contato" placeholder="(00) 000 000 000" required>
                    </div>

                    <div class="atributo-entrada">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                    </div>

                    <div class="atributo-entrada">
                        <label for="confirma-senha">Confirme sua senha</label>
                        <input type="password" name="confirma-senha" id="confirma-senha" placeholder="Confirme sua senha" required>
                    </div>

                </div>

                <div class="grupo-genero">

                    <div class="titulo-genero">
                        <h6>Gênero</h6>
                    </div>

                    <div class="entrada-genero">

                        <div class="atributo-genero">
                            <input type="radio" name="genero" id="feminino">
                            <label for="feminino">Feminino</label>
                        </div>

                        <div class="atributo-genero">
                            <input type="radio" name="genero" id="masculino">
                            <label for="masculino">Masculino</label>
                        </div>

                        <div class="atributo-genero">
                            <input type="radio" name="genero" id="outros">
                            <label for="outros">Outros</label>
                        </div>

                        <div class="atributo-genero">
                            <input type="radio" name="genero" id="nao-informar">
                            <label for="nao-informar">Não informar</label>
                        </div>

                    </div>
                    
                </div>

                <div class="grupo-dados-endereco">
                    <div class="titulo-endereco">
                        <h6>Endereço</h6>
                    </div>

                    <div>
                        
                        <div class="atributo-endereco">
                            <label for="cep">CEP</label>
                            <input type="text" name="cep" id="cep" placeholder="00.000-00" required>
                        </div>
                        
                        <div class="atributo-endereco">
                            <label for="logradouro">Logradouro</label>
                            <input type="text" name="logradouro" id="logradouro" required>
                        </div>
                        
                        <div class="atributo-endereco">
                            <label for="numero">Número</label>
                            <input type="numero" name="numero" id="numero" placeholder="Digite o número" required>
                        </div>
                        
                        <div class="atributo-endereco">
                            <label for="complemento">Complemento</label>
                            <input type="text" name="complemento" id="complemento">
                        </div>
                        
                        <div class="atributo-endereco">
                            <label for="bairro">Bairro</label>
                            <input type="text" name="bairro" id="bairro" required>
                        </div>
                        
                        <div class="atributo-endereco">
                            <label for="cidade">Cidade</label>
                            <input type="text" name="cidade" id="cidade" required>
                        </div>

                    </div>
                    
                </div>


                <div class="botao-continuar">
                    <button><a href="#">Continuar</a></button>
                    
                </div>

            </form>
        </div>

    </div>
</body>
</html>