.btn-primary{
    border-color: #cccbff;
    color: #ffffff;
    background-color: #5a57ff !important;
}
.btn-primary:hover{
    border-color: #5a57ff;
    color: #5a57ff;
    background-color: #cccbff !important;
}
.btn-secondary{
    border-color: #5a57ff;
    color: #5a57ff;
    background-color: #CCCBFF !important;
}
.btn-secondary:hover{
    border-color: #cccbff;
    color: #ffffff;
    background-color: #5a57ff !important;
}
.btn-aberto{
    border-color: #fff9df;
    color: #fff;
    background-color: #F3C111;
}
.btn-aberto:hover{
    border-color: #f3c111;
    color: #F3C111;
    background-color: #fff9df;
}
.btn-cancelado{
    border-color: #ffd1d1;
    color: #ffffff;
    background-color: #d92f2f;
}
.btn-cancelado:hover{
    border-color: #d92f2f;
    color: #d92f2f;
    background-color: #ffd1d1;
}
.btn-recolhido{
    border-color: #ffffff;
    color: #ffffff;
    background-color: #868686;
}
.btn-recolhido:hover{
    border-color: #868686;
    color: #868686;
    background-color: #ffffff;
}
.btn-aguardando{
    border-color: #b5c5ff;
    color: #fff;
    background-color: #2b50d2;
}
.btn-aguardando:hover{
    border-color: #2b50d2;
    color: #2b50d2;
    background-color: #b5c5ff;
}
.btn-pago{
    border-color: #ffd1b0;
    color: #fff;
    background-color: #ff6b00;
}
.btn-pago:hover{
    border-color: #ff6b00;
    color: #ff6b00;
    background-color: #ffd1b0;
}
.btn-finalizado{
    border-color: #cfeeca;
    color: #fff;
    background-color: #4ebc3c;
}
.btn-finalizado:hover{
    border-color: #4ebc3c;
    color: #4ebc3c;
    background-color: #cfeeca;
}
.inputlol{
    border-color: #b8b7ff;
}
.inputlol:focus{
    border-color: #5a57ff;
    box-shadow: 0 0 10px 0.25rem #d9d8ff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins;
}