#mainBody {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}


#categoria-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 40vw;
}

#items {
    margin-top: 50px;
}

#carrinho {
    align-self: first baseline;
    margin-top: 50px;
    width: 500px;
    border: 1.5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 252, 254);
}

#carrinho #titulo {
    font-size: large;
    padding: 10px;
}

#carrinho #total {
    font-size: x-large;
    font-weight: bolder;
    align-self: center;
    padding-top: 40px;
    padding-bottom: 40px;
    color: rgb(60, 60, 151);
}

#carrinho-container #button-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#carrinho-container #button-area button {
    height: 50px;
    width: 200px;
    border-radius: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#itemTable tr td {
    border-top: 1px solid black;
    padding: 15px;
}

#itemTable tr th {
    text-align: justify;
    padding-left: 10px;
    padding-bottom: 15px;
}

#itemTable tr th:nth-of-type(2) {
    padding-left: 25px;
}

#itemTable {
    border-collapse: collapse;
    font-weight: bold;
}

#itemTable tr th:first-of-type,
#itemTable tr td:first-of-type {
    width: 55%;
}