<!-- 
<div id="header">
    <img src="/assets/logoLol.png" alt="">
    <div id="wrapper">
        <span>Home</span>
        <span>Serviços</span>
        <span>Minha Conta</span>
        <span>FAQ</span>
    </div>
</div>
-->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mb-3">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../assets/logoLol.png" alt="Logo LOL" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-1" id="sair" id="textDiv">Sair</div>
    </div>
</nav>