<html>
<body>
    <header>
        <div class="titulo">
            <h1>LOL</h1>
            <!-- <h2>Lavanderia On-Line</h2> -->
        </div>
        <div class="usuario">
                <h4 id="nome-usuario" style="margin-bottom: 0;">Usuário</h4>
                <p id="sair-usuario" style="margin-top: 0;">Sair</p>
        </div>
    </header>
    <br>
    <div class="corpo">
        <div class="titulo">
            <h1 id="titulo">Seus Pedidos</h1>
        </div>
        <div>
            <select class="filtro">
                <option disabled selected>Estado do pedido</option>
                <option>Aguardando Pagamento</option>
                <option>Enviado</option>
                <option>Pendente</option>
                <option>Cancelado</option>
            </select>
        </div>
        <div class="lista">
            <table id="table">
                <tr id="table-header">
                    <th>Nº Pedido</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Prazo</th>
                    <th>Status</th>
                    <th>Detalhes</th>
                </tr>
                <tr id="000001">
                    <td>000001</td>
                    <td>R$ 60,00</td>
                    <td>12/08/2023</td>
                    <td>16/08/2023</td>
                    <td>Pendente</td>
                    <td>
                        <input type="button" class="detalhes" value="">
                    </td>
                </tr>
                <tr id="000002">
                    <td>000002</td>
                    <td>R$ 60,00</td>
                    <td>12/08/2023</td>
                    <td>16/08/2023</td>
                    <td>Em Aberto</td>
                    <td>
                        <input type="button" class="detalhes" value="">
                    </td>
                </tr>
                <tr id="000003">
                    <td>000003</td>
                    <td>R$ 60,00</td>
                    <td>12/08/2023</td>
                    <td>16/08/2023</td>
                    <td>Em Aberto</td>
                    <td>
                        <input type="button" class="detalhes" value="">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
